.login-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .warning {
        color: rgb(209, 209, 93);
    }

    form {
        display: flex;
        flex-direction: column;

        .btn-box {
            align-self: center;
        }
    }
}