.my-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 0;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .user-name {
        margin: 0;
    }

    .user-avatar {
        display: block;
        overflow: hidden;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .btn-box {
        display: flex;

        .btn,
        .dropdown {
            width: 40px;
            height: 40px;
            padding: 0;

            .dropdown-toggle::after {
                display: none;
            }

            img {
                width: 50%;
                height: 50%;
            }
        }
    }
}