.input-area {
    display: flex;
    align-items: center;
    column-gap: 8px;


    .custom-btn {
        width: 35px;
        height: 35px;
        padding: 2px;
        border-radius: 4px;
        flex-shrink: 0;
        outline: none;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: cover;
            width: 85%;
            height: 85%;
        }

        &.emoji-btn {
            cursor: pointer;
        }

        position: relative;

        .emoji-picker {
            position: absolute;
            right: 0;
            bottom: 50px;
        }
    }

    .btn {
        flex-shrink: 0;
    }


}